* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.backImg {
  height: 100vh;
  transition-delay: 5x;
  width: 100%;
}
.heading {
  color: white;
  position: absolute;
  left: 23%;
  top: 42%;
  font-size: 56px;
}
.btn {
  background-color: #ff4500;
  position: absolute;
  left: 44%;
  border: none;
  outline: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  top: 54%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.btn:hover {
  background-color: hsl(16, 96%, 39%);
  cursor: pointer;
}
.card {
  position: absolute;
  left: 33%;
  top: 28%;
  display: none;
}
